.container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
        margin: 0;
    }
}

.filtersSection {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.eachFilter {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.resetButton {
    min-height: 30px;
    background-color: darkgreen;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    color: white;

    &:hover {
        background-color: forestgreen;
    }
}