.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    border-radius: 14px;
    align-items: center;
    img {
        border-radius: 14px;
        width: 100%;
    }
    h4 {
        margin: 2px 0;
    }
    p {
        margin: 2px 0;
    }
}